body{
	font-family:'Oswald', sans-serif;
	word-spacing:5px;
}

.content {
}

img{
	width:100%
}

a {
	color:black;
	text-decoration:none;
}

.main{
	box-shadow: inset 0 0 104px -2px rgba(0, 0, 0, 0.6);
}

.container{
	background-color:white;
	padding: 5px;
	/** box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05); */

}

.top-menu{
	height:175px;
	background-color:whitesmoke;
	word-wrap: break-word;
}
.logo-text{
	padding-top: 1%;
	padding-left: 4%;
	text-align:left;
	font-family: 'Oswald', sans-serif;
	font-weight:500;
	word-spacing:15px;
	font-size:4em;
	word-wrap: break-word;
}
.textunderlogo{
	font-family: 'Oswald', sans-serif;
	padding-left: 4%;
	font-size:2em;
	word-spacing:5px;
	word-wrap: break-word;
}
.head-text{
	padding-left: 1%;
	font-weight: 700;
	text-align: center;
	background-color: #fbfbfb;
	word-spacing: 45px;
	padding-bottom: 2%;
	padding-top: 2%;
	font-size: 28px;
	word-wrap: break-word;
	letter-spacing: 4px;
	border-top:2px black solid;
	border-bottom:2px black solid;
	box-shadow: inset 0px -20px 20px 0px rgba(0, 0, 0, 0.3);
}

#menu .current-menu-item a {
	text-decoration:overline;
	word-wrap: break-word;
}
footer{
	text-align:center;
	word-wrap: break-word;
}
.text-inside{
	float:left;
}
.title{
	font-family: 'Oswald', sans-serif;
	word-spacing: 5px;
	font-size: 45px;
	text-align: center;
	word-wrap: break-word;
	padding-bottom:1%;
}
.title.white{
	color:white;
	font-family: 'Oswald', sans-serif;
	word-spacing: 5px;
	font-size: 45px;
	text-align: center;
	word-wrap: break-word;
	padding-bottom:1%;
}
.rel{
	position:relative;
}

.text{
	padding-left:20px;
	padding-right:20px;
	font-family:'Comfortaa', cursive;
	text-align:justify;
	font-size:1.7em;
	padding-bottom:1%;
}
.foot{
	height: 459px;
	background-color: black;
	position: relative;
	bottom: 0;
}
.foot-text{
	font-family: 'Comfortaa', cursive;
	color: white;
	font-size: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
}
.foot-text2 {
	font-family: 'Comfortaa', cursive;
	padding-left: 100px;
	color:white;
	font-size: 40px;
}
.foot-text3 {
	font-family: 'Comfortaa', cursive;
	color: white;
	font-size: 22px;
}

a {
line-height: 1.2;
position: relative;
padding: 0 14px;
text-transform: uppercase;
}

a:hover{
color:black;
}

a:after {
content: "";
height: 100%;
min-width: 4px;
background:#000000;
position: absolute;
left: 0;
bottom: 0;
transition: .5s;
}
a:hover:after {
min-width: 100%;
background: #95a5a6;
opacity: .35;
}
.cont {
position: relative;
text-align: center;
bottom:-5px;
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
}
.centertext{
font-family: 'Oswald', sans-serif;
font-size:46px;
color:black;

}
.centerbottext{
font-family: 'Comfortaa', cursive;
font-weight:bold;
font-size:26px;
color:black;
}




input[type="submit"]{

}



.animated-button.thar-two {
border: 4px solid black;
color: #000000;
background-color: transparent;
cursor: pointer;
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
width: 26%;
font-size: 30px;
}
.animated-button.thar-two:hover {
color:#ffffff !important;
background-color: black;
text-shadow:white;
border: 4px solid #75757a;
}
.animated-button.thar-two:hover:before {
top: 0%;
bottom: auto;
height: 100%;
}
.animated-button.thar-two:before {
display: block;
position: absolute;
left: 0px;
bottom: 0px;
height: 0px;
width: 100%;
z-index: -1;
content: '';
color: #000 !important;
background:#726f6f;
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.title-email{
padding-bottom:6%;
}

.buttonpos{
padding-left: 44%;
padding-bottom: 3%;
padding-top: 3%;
}
.question{
font-family: 'Comfortaa', cursive;
text-align:center;
font-size:50px;
padding-top:3%;
}
.botquestion{
font-family: 'Comfortaa', cursive;
text-align: center;
font-size: 30px;
padding-top: 1%;
padding-bottom: 2%;
}

.questpos{
padding-left: 1%;
font-size: 20px;
}
.title-quest{
padding-bottom: 2%;
word-spacing:70px;
text-align:center;
}
.text-area{
padding-top: 2%;
padding-bottom: 2%;
}
.text-areasize{
padding-bottom:5%;
}
.articles-list{
font-family: 'Comfortaa', cursive;
font-size: 22px;
padding-left: 5%;
}

.admin-links{
padding-left:60px;
font: small-caps bold 32px/1 sans-serif;
font-weight:700;
text-align:left;
background-color:#fbfbfb;
word-spacing:5px;
padding-bottom:41px;
padding-top:46px;
}
.add-textsize{
font-size:30px;
}
.img{
margin: -4px 0 -4px 0;
padding-top:4px;
margin-bottom: -12px;

}
.cont2 {
position: relative;
text-align: left;
}

.centered2 {
position: absolute;
top: 50%;
left: 73%;
transform: translate(-50%, -50%);
color:#000000;
text-align:center;
}
.animated-button.thar-two2 {
border: 4px solid black;
color:#ffffff;
background-color:transparent;
cursor: pointer;
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
height: 66px;
width: 200px;
font-size: 30px;
}
.animated-button.thar-two2:hover {
color:#ffffff !important;
background-color: black;
text-shadow:white;
border: 4px solid #75757a;
}
.animated-button.thar-two2:hover:before {
top: 0%;
bottom: auto;
height: 100%;
}
.animated-button.thar-two2:before {
display: block;
position: absolute;
left: 0px;
bottom: 0px;
height: 0px;
width: 100%;
z-index: -1;
content: '';
color: #000 !important;
background:#726f6f;
transition: all 10.00s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.map {
font-family: 'Comfortaa', cursive;
text-align: left;
font-size: 50px;
padding-top: 23px;
padding-left: 231px;
padding-bottom: 30px;

}
.position{
position: relative;
}
.map2 {
font-family: 'Comfortaa', cursive;
text-align: right;
font-size: 50px;
padding-top: 0;
padding-right: 296px;
margin: -87px 0 11px 0px;
}
.float{
float:left;
padding-left:100px
}
.contactdata{
	font-family: 'Comfortaa', cursive;
	text-align: left;
	font-size: 20px;
	padding-bottom: 2px;
	padding-left: 783px;
}
.backcolorcontact{
background-color:#f6f5fb;
}

.animated-button.thar-two3 {
border: 4px solid #ffffff;
color:#ffffff;
background-color:transparent;
cursor: pointer;
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
height: 66px;
width: 200px;
font-size: 30px;
}
.animated-button.thar-two3:hover {
color:#ffffff !important;
background-color: black;
text-shadow:white;
border: 4px solid #75757a;
}
.animated-button.thar-two3:hover:before {
top: 0%;
bottom: auto;
height: 100%;
}
.animated-button.thar-two3:before {
display: block;
position: absolute;
left: 0px;
bottom: 0px;
height: 0px;
width: 100%;
z-index: -1;
content: '';
color: #000 !important;
background:#726f6f;
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.admin-font{
font: small-caps bold 32px/1 sans-serif;
}

.article-title{
font-family: 'Oswald', sans-serif;
padding-top:10px;
font-size:2em;
word-spacing:5px;
}
.article-text{
font-family: 'Quicksand', sans-serif;
font-size:25px;
font-weight:700;
}
.body{
width:100%;
}
.center{
text-align:center;
}
.message-list{
font-family: 'Comfortaa', cursive;
font-size: 20px;
padding-left: 15%;
padding-right: 17%;
padding-top:2%;
}

.invalid-feedback {
background: white;
}

#button {
	font-family: 'Comfortaa', cursive;
	font-weight:bold;
	background-color:transparent;
	color:black;
	border:4px solid black;
	width: 26%;
	font-size: 26px;
	height:44px;
}

#button:hover {
font-family: 'Comfortaa', cursive;
color:#ffffff !important;
background-color: black;
border: none;
height:44px;
}

.footer.block {

}
.item{
	padding-top: 11%;
	width: 742px;
	float: left;
	margin: 0 7px;
	text-align:justify;
}

.image-text{
	width: 640px;
	float: left;
}

.image-text.text {
	padding-top:80px;
}

.blog {
	padding-left: 10%;
	font-family: 'Comfortaa', cursive;
	font-size: 19px;
	padding-top: 1%;
	padding-right: 9%;
}

.centered.contact {
	font-family: 'Comfortaa', cursive;
	width: 35%;
	position: absolute;
	top: 70%;
	left: 49%;
	transform: translate(-50%, -50%);
	color: white;
	z-index: 1;
}

.title.contact{
	font-family: 'Comfortaa', cursive;
	word-spacing: 5px;
	font-size: 45px;
	text-align: center;
	word-wrap: break-word;
	padding-bottom:1%;

}

.button.contact {
	font-family: 'Comfortaa', cursive;
	font-weight:bold;
	background-color:white;
	color:black;
	border:4px solid black;
	width: 30%;
	font-size: 26px;
	height:44px;
}

.button:hover {
	font-family: 'Comfortaa', cursive;
	color:#ffffff !important;
	background-color: black;
	border: none;
	height:44px;
}

.butcont {
	padding-left: 199px;
	width: 593px;
}

.login {
	font-family: 'Comfortaa', cursive;
	padding-left: 335px;
	text-align: center;
	width: 75%;
	color: black;
}

.username {
	word-spacing: -6px;
}

.article {
	font-family: 'Comfortaa', cursive;
	text-align: justify;
	font-size: 25px;
	padding: 30px;
}

.comments-time{
	font-size:17px;
	color:gray;
	margin-top:10px;
	word-spacing:0px;
}

.comments-header{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.comments-name {
	margin-right:5px;
	font-weight:bold;
}

.comments-email {
	background-image: linear-gradient(45deg, #6b6b83, #3b8d99);
	background-repeat: repeat-x;
	font-size: 15px;
	font-weight: bold;
	display: inline-flex;
	padding: 2px 8px;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comments-text {
	margin-left:15px;
}

.title.comment {
	font-weight:bold;
	text-align:center;
	font-size:37px;
	margin-bottom:24px;
	position:relative;
	text-transform:uppercase;

}

.title.comment:before{
	 content: '';
	 height: 2px;
	 width: 100%;
	 background-color: #e0e0e0;
	 position: absolute;
	 z-index: 5;
	 left: 0;
	 right: 0;
	 top: calc(42% - 1px);
}

span{
	background: white;
	position: relative;
	z-index: 10;
	padding: 0 16px;
}

.comments{
	font-family:'Comfortaa', cursive;
	font-size:22px;
}

textarea{
	height:200px;
}

.comments-button {
	text-align:center;
}

.admin-panel {
	margin-top:20px;
	margin-bottom:20px;
	display:flex;
	flex-flow:row;
	font-size:30px;
	padding-left: 9%;
}

.admin-item{
	text-align:center;
	padding-left:50px;
}

li {
	list-style-type:none;
}

.navbar-admin {
	word-spacing:0;
	width: 59%;
	padding-left: 45%;
}